<!-- Start Team Section-->
<section id="team" class="main-section center-align">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Utilisateurs</h4>

        <!-- Description -->
        <p class="p-t-1 desc">Liste des utilisateurs et admin de la db</p>

        <!-- Owl Team Slider -->
        <div class="p-t-2 grid center-align owl-carousel owl-teams">

            <!-- Single Team Container -->
            {{#each dbUsers }}
            <div class="team-member m-tb-2 z-depth-2 hoverable">
                <a href="/admin/edit/user/{{_id}}">
                <figure>

                    <!-- Team Image -->
                    <img class="responsive-img" src="{{ imgUser }}" alt="news image" style="height: 318px">

                </figure>
                </a>

                <div class="name p-b-1">

                    <!-- Team Member Name and link to his page -->
                    <a href="#">
                        <h5 class="team-name gradient-color waves-effect waves-light">{{ name }}</h5>
                    </a>

                    <!-- Team Member Job -->
                    <h6>Mail: {{ email }}</h6>
                    <h6>Id: {{ _id }}</h6>
                    <h6>Status: {{ status }}</h6>

                </div>
            </div>
            {{/each }}
        </div>

    </div>

</section>
<!-- End Team Section-->

<!-- Start News Section-->
<section id="news" data-scroll-index="4" class="main-section center-align">

    <div class="container">

        <!--Title-->
        <h4 class="reflection-text p-b-2">Blog & Services </h4>
        <!-- Description -->
        <p class="p-t-1 desc">Connecté en tant que : <u><b> {{ sess.name }} </b></u></p>

        <div class="row">

            <div class="col s12">

                <div class="p-t-2 grid center-align row">

                    {{#each dbArticles }}

                    <div class="single-news col s12 m6 l4">

                        <!-- Link to the blog news post -->
                        

                            <figure>

                                <!-- Post Image -->
                                <img class="responsive-img" src="{{ img }}" alt="news image" style="height: 318px">

                            </figure>

                        <div class="info p-b-1">

                            <p>

                                <!-- Post Writer Name -->
                                <span>
                            <i class="fa fa-user gradient-color" aria-hidden="true"></i>
                            {{ author }}
                        </span>

                                <!-- Post Date -->
                                <span>
                            <i class="fa fa-calendar gradient-color" aria-hidden="true"></i>
                            24 Oct. 1988
                        </span>

                            </p>

                            <!-- Post Title -->
                            <a href="#">
                                <h5>{{ title }}</h5>
                            </a>

                            <!-- Post Excerpt -->
                            <p class="p-b-1">{{ _id }}</p>
                            <p class="p-b-1">{{ serie }}</p>

                            <!-- Post Link -->
                            <a href="#" class="shadow-button waves-effect waves-light">Modif<i class="fa fa-arrow-right"></i></a>
                            <a href="#" class="shadow-button waves-effect waves-light">Del<i class="fa fa-arrow-right"></i></a>

                        </div>

                    </div>

                    {{/each }}

                </div>

            </div>

        </div>

    </div>

</section>
<!-- End News Section-->
     

<!-- Start article creation Section-->


    <div class="center-align">

        <div class="main-section">

            <div class="container">

                <!--Title-->
                <h4 class="reflection-text p-b-2">Ajout d'article</h4>

                <div class="container">

                    <!-- Contact Form -->
                    <form id="formAddBlog" action="/admin/articlePost" method="POST" enctype="multipart/form-data">
               
                    <h4><label for=""><u>Titre :</u> (1 word)</label></h4>
                    <input type="text" name="title" placeholder="Titre">
                    <div class="ui left corner label">
                        <i class="asterisk icon"></i>
                    </div>

                    <h4><label for=""><u>Image :</u></label></h4>
                    <input type="file" name="img" (change)="fileEvent($event)" class="inputfile"
                        id="embedpollfileinput">
                    <label for="embedpollfileinput" class="ui huge button">
                        <i class="ui upload icon"></i>
                        Upload image
                    </label>
                    <h4><label for=""><u>Lien Image :</u></label></h4>
                    <input type="text" name="img" placeholder="link image">
                    <div class="ui left corner label">
                        <i class="asterisk icon"></i>
                    </div>
                    <h4><label for=""><u>Author :</u> (1 word)</label></h4>
                    <input type="text" name="author" placeholder="Author">
                    <div class="ui left corner label">
                        <i class="asterisk icon"></i>
                    </div>
                    <h4><label for=""><u>Serie :</u> (1 word)</label></h4>
                    <input type="text" name="serie" placeholder="blog ou service">
                    <div class="ui left corner label">
                        <i class="asterisk icon"></i>
                    </div>
                    <h4><label for=""><u>Contenu :</u></label></h4>
            <div class="control">
                <textarea id="mytextarea" name="content">
                </textarea>
            </div>
                
        </div>
    
        <div class="actions footer modal-footer">
            <button id="submit" class="gradient-color waves-effect waves-light buttonArt" type="submit">Envoyer</button>
            </button>
        </div>
        </form>

                </div>

            </div>

        </div>

    </div>

{{!-- End article creation section --}}




