<!-- Start Footer Section-->
<div id="footer" class="footer-main center-align gradient-color">
    <div class="main-section">
        <div class="container">
            <!--Title-->
            <h4 class="reflection-text p-b-2">Éditer Utilisateur</h4>
            <div class="contact-container">

                <form class="ui form" action="/admin/edit/userPost/{{editUser._id}}" method="POST" enctype="multipart/form-data">
                    <div class="row">
                        <div class="input-field col s12">
                            <label>Name:</label>
                            <input type="text" name="name" value="{{ editUser.name }}" required>
                        </div>
                        <div class="input-field col s12">
                            <label>ID:</label>
                            <input type="text" name="_id" value="{{ editUser._id }}" required>
                        </div>
                        <div class="input-field col s12 m-t-1">
                            <label>E-mail:</label>
                            <input type="email" name="email" value="{{ editUser.email }}" required>
                        </div>
                        <div class="input-field col s12">
                            <label>Status:</label>
                            <input type="text" name="status" value="{{ editUser.status }}" required>
                        </div>
                        <div class="input-field col s12">
                            <label>Bio:</label>
                            <input type="text" name="bio" value="{{ editUser.bio }}" required>
                        </div>
                        <div class="input-field col s12">
                            <label>Membre depuis:</label>
                            <input type="text" name="created_date" value="{{ editUser.created_date }}" required>
                        </div>
                        <div class="input-field col s12">
                            <label>Link Image Profile</label>
                            <input type="text" name="imgUser" value="{{ editUser.imgUser }}" required>
                        </div>
                        <div class="input-field col s12">
                            <label>Image Profile:</label>
                            <input type="file" name="imgUser" (change)="fileEvent($event)" class="inputfile" id="embedpollfileinput"> 
                        </div>

                        {{!-- <div class="field">
                    <input type="text" placeholder="Confirmation Mot de passe">
                </div> --}}

                        <button class="gradient-color waves-effect waves-light" type="submit">Envoyer</button>
                        
                    </div>
                </form>

                <div class="address">
                    <div class="row">
                        <div class="ui stacked segment">
                        <div class="input-field col s12 m-t-1">
                            <a href="/admin/edit/user/{{_id}}">
                                <div class="icon s6 p-tb-2">
                                    <img class="fa fa-3x waves-circle" src="{{ editUser.imgUser }}">
                                    {{!-- <i class="gradient-color fa fa-snowflake-o fa-3x waves-circle waves-effect waves-light"></i> --}}
                                </div>
                                <h5 class="p-tb-1">{{ editUser.name }}</h5>
                                <p> Mail:</br> {{ editUser.email }} </p>
                                <p> Id:</br> {{ editUser._id }} </p>
                                <p> Status:</br> {{ editUser.status }} </p>
                                <p> Bio:</br> {{ editUser.bio }} </p>
                            </a>
                            <button class="gradient-color waves-effect waves-light" type="submit">Del</button>
                        </div>
                    </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>
