{{!-- Item with id --}}
<div style="margin-top: 10vh" class="column item-app filterDiv {{ postItemBlog.authorBlog }}" value={{ authorBlog }}>
    <a href={{ postItemBlog.linkBlog }} target="_blank">
        <img class="ui medium circular image" src="{{ postItemBlog.imageBlog }}">
        <a href="/blog/edit/{{postItemBlog._id}}" {{!--id="MoEdBlog"--}}>
            <i class="edit icon"></i>
        </a>
        <button class="ui button secondary">
            {{ postItemBlog.titleBlog }}
        </button>
        <a href="/blog/delete/{{postItemBlog._id}}" {{!-id="MoDeBlog"--}}>
            <i class="close icon"></i>
        </a>
    </a>
</div>
{{!-- update item --}}
<form class="form" action="/admin/edit/articlePost/{{postItemBlog._id}}" method="POST" enctype="multipart/form-data">
    <div class="modal-content">
        <div> 
            <h4><label for=""><u>Titre :</u> (10 Characters)</label></h4>
            <div class="ui left corner labeled input">
                <input type="text" maxlength="10" size="10" value="{{postItemBlog.titleBlog}}" name="titleBlog" placeholder="{{ postItemBlog.titelBlog }}">
                <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div>
            <h4><label for=""><u>Author :</u></label></h4>
            <div class="ui left corner labeled input">
                <input type="text" name="authorBlog" value="{{ postItemBlog.authorBlog }}" placeholder="{{ postItemBlog.authorBlog }}">
                <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div>
            <h4><label for=""><u>Content :</u></label></h4>
            <div class="ui left corner labeled input">
                <input type="text" value="{{  postItemBlog.contentBlog }}" name="contentBlog" placeholder="{{ postItemBlog.contentBlog }}">
                <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
        </div>
        <div class="ui">
            <h4><label for=""><u>Logo :</u></label></h4>
            <div class="ui center corner labeled input">
                <input type="text" name="logoBlog" value="{{ postItemBlog.imageBlog }}" placeholder="{{ postItemBlog.imageBlog }}">
                <div class="ui left corner label">
                    <i class="asterisk icon"></i>
                </div>
            </div>
            <div class="ui right corner labeled input">
                <input type="file" value="{{postItemBlog.logoBlog}}" name="imageBlog" (change)="fileEvent($event)" class="inputfile"
                    id="embedpollfileinput">
                <label for="embedpollfileinput" class="ui huge green right floated button">
                    <i class="ui upload icon"></i>
                    Upload image
                </label>
            </div>
        </div>
    </div>
    <div class="actions footer modal-footer">
        <div class="ui black deny button">
            Annuler
        </div>
        <button id="addIteBlog" type="submit" class="ui positive right labeled icon button is-link">
            Confirmer
            <i class="checkmark icon"></i>
        </button>
    </div>
</form>
